@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", serif;
  --color-salmon: #f88379;
  --color-white-smoke: #fdeeed;
  --color-contessa: #c66961;
}

body {
  -webkit-text-size-adjust: 100%;
  overflow-wrap: anywhere;
  hyphens: auto;
}
