@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", serif;
  --color-salmon: #f88379;
  --color-white-smoke: #fdeeed;
  --color-contessa: #c66961;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  overflow-wrap: anywhere;
  hyphens: auto;
}
