---
import { Icon } from "astro-icon/components";
const { src } = Astro.props;
---

<section class="relative bg-gray-300 h-screen">
  <div class="absolute inset-0">
    <img
      src={src}
      alt="Hero Image"
      class="hero-image w-full h-full object-cover object-top opacity-0 transition-opacity duration-100"
    />
    <div class="absolute inset-0 bg-salmon opacity-30"></div>
  </div>
  <div
    class="relative
           flex
           flex-col
           items-center
           justify-center
           h-full
           max-w-7xl
           mx-auto
           py-24
           px-6
           text-center"
  >
    <slot />

    <div class="absolute bottom-10 left-0 right-0 text-center">
      <div class="flex flex-col items-center">
        <p class="font-quicksand text-white">Scroll down</p>
        <div class="text-white">
          <Icon name="arrow-down" width="24" height="24" />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const heroSection = document.querySelector(".hero-image");
    heroSection?.classList.add("opacity-0");
    setTimeout(() => {
      heroSection?.classList.remove("opacity-0");
      heroSection?.classList.add("opacity-100");
    }, 100);
  });
</script>

<style>
  .hero-image {
    transition: opacity 2.2s ease-in-out;
  }
</style>
